# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
pd.read_csv(url , sep = '\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(url , sep = '\t')

### Step 4. How many products cost more than $10.00?

In [5]:
#Primeiro temos que observar que o tipo das informações contidas na coluna item_price é object
#Para trabalhar com as informações dessa coluna corretamente temos que convertê-la para o tipo float w
chipo['item_price'].dtype

dtype('O')

In [6]:
#Usando uma função lambda para substituir o $ por um espaço vazio
chipo['item_price'] = chipo['item_price'].apply(lambda x: str(x).replace("$" , " "))

In [7]:
#Convertendo a coluna item_price para float
chipo['item_price'] = chipo['item_price'].astype('float64')

In [8]:
#Observamos se a coluna foi convertida com sucesso
chipo['item_price'].dtype

dtype('float64')

In [9]:
#Remover as repetições com o objetivo de contar apenas um único produto de cada
#Afunção .drop_duplicates - de acordo com a documentação do pandas - retornar o DataFrame removendo as linhas duplicadas
remove_repeticoes = chipo.drop_duplicates(['item_name' , 'quantity'])

In [10]:
#Utilizando dados com uma quantidade
#Nesses dados temos no item_price o preço de um único produto
produto_unico = remove_repeticoes[remove_repeticoes.quantity == 1]

In [11]:
#Solicitando quantos produtos custam mais de $10.00
#A função .nunique() - de acordo com a documentação do pandas - conta observações distintas sobre o eixo solicitado
produto_unico[produto_unico['item_price'] > 10].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [35]:
remove_repeticoes = chipo.drop_duplicates(['item_name' , 'quantity'])

In [36]:
produto_unico = remove_repeticoes[remove_repeticoes.quantity == 1]

In [37]:
name_price = produto_unico[['item_name' , 'item_price']]

In [39]:
chipo.filter(items = name_price)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [40]:
chipo.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?