# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [105]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [106]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [118]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: str(x).replace('$','')).astype('float64')

In [119]:
#Dentro do dataframe original, estou incluindo apenas os produtos cujo preço unitário (1qtd) seja maior que 10.0
dataframe_novo3 = chipo.loc[chipo['item_price']/chipo['quantity']>10.0]
dataframe_novo3

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [120]:
#Do dataframe novo criado, tiro todos os itens que tenham qty+name+price duplicados
dataframe_novo3 = dataframe_novo3.drop_duplicates(subset=['quantity','item_name','item_price'])

In [121]:
#Produtos que custam mais de 10.0
dataframe_novo3.shape[0]

62

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [122]:
#Distintos é o recorte do dataframe original 'chipo', contando apenas produtos distintos independente do preço
distintos = chipo.drop_duplicates(subset=['quantity','item_name','item_price'])
distintos

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4237,1691,2,Chips and Guacamole,NaN,8.50
4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50
4489,1786,4,Chips and Guacamole,NaN,17.80
4509,1793,1,Chips,NaN,1.99
4510,1793,1,Barbacoa Bowl,[Guacamole],11.49

In [123]:
distintos['item_price'] = distintos['item_price']/distintos['quantity']

/home/joaovitorez/miniconda3/envs/env-data-handling/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [125]:
distintos_redux = distintos.filter(['item_name','item_price'])
distintos_redux

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4237                    Chips and Guacamole        4.25
4354                       Steak Soft Tacos        9.25
4489                    Chips and Guacamole        4.45
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [126]:
distintos_redux.sort_values(by=['item_name'], ignore_index=True)

             item_name  item_price
0    6 Pack Soft Drink        6.49
1    6 Pack Soft Drink        6.49
2        Barbacoa Bowl       11.49
3        Barbacoa Bowl        8.69
4        Barbacoa Bowl        9.25
..                 ...         ...
204  Veggie Salad Bowl       11.25
205  Veggie Soft Tacos        8.49
206  Veggie Soft Tacos       11.25
207  Veggie Soft Tacos        8.75
208  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [136]:
chipo.sort_values(by='item_price', ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],1.09
2922,1162,1,Bottled Water,NaN,1.09
1396,567,1,Canned Soda,[Coca Cola],1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09
1457,591,1,Canned Soda,[Sprite],1.09

In [139]:
chipo.sort_values(by='item_price', ascending=False).loc[3598,'quantity']

#Deve ter um jeito mais fácil de fazer isso

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [142]:
dataframe_novo3['item_name'].value_counts()['Veggie Salad Bowl']

1

### Step 9. How many times did someone order more than one Canned Soda?

In [150]:
chipo['quantity'] = chipo['quantity'].astype('float64')

In [152]:
novo_chipo = chipo[chipo.quantity>2]

In [153]:
novo_chipo[novo_chipo['item_name']=='Canned Soda']

      order_id  quantity    item_name choice_description  item_price
18           9       9.0  Canned Soda           [Sprite]        2.18
51          23      23.0  Canned Soda     [Mountain Dew]        2.18
162         73      73.0  Canned Soda        [Diet Coke]        2.18
171         76      76.0  Canned Soda  [Diet Dr. Pepper]        2.18
350        150     150.0  Canned Soda        [Diet Coke]        2.18
352        151     151.0  Canned Soda        [Coca Cola]        2.18
698        287     287.0  Canned Soda        [Coca Cola]        2.18
700        288     288.0  Canned Soda        [Coca Cola]        2.18
909        376     376.0  Canned Soda     [Mountain Dew]        2.18
1091       450     450.0  Canned Soda       [Dr. Pepper]        2.18
1092       450     450.0  Canned Soda        [Coca Cola]        2.18
1944       787     787.0  Canned Soda       [Dr. Pepper]        2.18
2135       859     859.0  Canned Soda        [Diet Coke]        2.18
2235       901     901.0  Canned Soda           [Sprite]        4.36
2905      1156    1156.0  Canned Soda        [Coca Cola]        2.18
2906      1156    1156.0  Canned Soda           [Sprite]        2.18
3152      1258    1258.0  Canned Soda       [Dr. Pepper]        2.18
3364      1349    1349.0  Canned Soda        [Coca Cola]        2.18
3592      1440    1440.0  Canned Soda        [Diet Coke]        2.18
3866      1550    1550.0  Canned Soda     [Mountain Dew]        2.18

In [154]:
len(novo_chipo[novo_chipo['item_name']=='Canned Soda'])

20